#if defined(UNDER_CE)
#include <winbase.h>
#else
#include <winver.h>
#endif

#include "version.h"

// 版本信息资源
VS_VERSION_INFO VERSIONINFO
 FILEVERSION DECODER_SDK_VERSION_MAJOR,DECODER_SDK_VERSION_MINOR,DECODER_SDK_VERSION_PATCH,DECODER_SDK_VERSION_BUILD
 PRODUCTVERSION DECODER_SDK_VERSION_MAJOR,DECODER_SDK_VERSION_MINOR,DECODER_SDK_VERSION_PATCH,DECODER_SDK_VERSION_BUILD
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"  // 英语(美国), Unicode
        BEGIN
            VALUE "CompanyName", "Zhao.Yaxin"
            VALUE "FileDescription", "DecoderSDK - Video/Audio Decoder Library"
            VALUE "FileVersion", DECODER_SDK_VERSION_STRING_FULL
            VALUE "InternalName", "DecoderSDK"
            VALUE "LegalCopyright", "Copyright (C) 2025 Zhao.Yaxin. All rights reserved."
            VALUE "OriginalFilename", "DecoderSDK.dll"
            VALUE "ProductName", "DecoderSDK"
            VALUE "ProductVersion", DECODER_SDK_VERSION_STRING_FULL
            VALUE "Comments", "High-performance video and audio decoder SDK"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200  // 英语(美国), Unicode
    END
END
